<html lang="en">
	<%- include("./partial/header.ejs") %>
	<body>
		<%- include('./partial/nav.ejs') %> 
		<h2><%= blog.title %> </h2>
		<div class="content">
			<p><%= blog.body %> </p>
		</div>
		<%- include('./partial/footer.ejs') %> 
	</body>
</html>

 